<div class="jdgm-preview-badge">
  <div class="jdgm-prev-badge"> 
    <span class="jdgm-prev-badge__stars"> 
      <span class="jdgm-star jdgm--on"></span>
      <span class="jdgm-star jdgm--on"></span>
      <span class="jdgm-star jdgm--on"></span>
      <span class="jdgm-star jdgm--on"></span>
      <span class="jdgm-star jdgm--on"></span>
    </span> 
  </div>
</div>